img {
	height: 200px;
	margin-bottom: 4px;
}

.livre {
	display: inline-block;
	background-color:aliceblue;
	width:250px;
	height: 350px;
	border: 4px solid red;
	margin: 7px;
	padding:5px;
	text-align: center;
}

body {
	background-color: #4C261C;
}

h2 {
	height:70px;
}

a {	
	display: inline-block;
	background: #73BF9F;
	border-radius: 50px;
	width:70px;
	height: 20px;
	text-decoration: none ;
	font-family: 'Inter';
	font-style: normal;
	color: #FFFFFF
}

.blue {
	background-color:blue;
}

.important {
	text-align: center;
}

.pasteque {
	text-align: center;
	font-size: 45px;
	color: #A7F49F;

}

.livre:hover {
	scale:1.2;
}


